@model DynamicForm
<div class="post d-flex flex-column-fluid" id="kt_post">

    <div id="kt_content_container" class="container-xxl">

        <div class="d-flex flex-column flex-lg-row">

            <div class="flex-lg-row-fluid me-lg-15 order-2 order-lg-1 mb-10 mb-lg-0">

                <form class="form" action="#" id="kt_subscriptions_create_new">
                    <div class="card card-flush pt-3 mb-5 mb-lg-10">

                        <div class="card-header">

                            <div class="card-title">
                                <h2 class="fw-bolder">Create custom forms</h2>
                            </div>

                        </div>

                        <div class="card-body pt-0">
                            <div class="d-flex flex-column mb-15 fv-row">

                                @*<div class="fs-5 fw-bolder form-label mb-3">
                                Custom fields
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true" data-bs-content="Add custom fields to the billing invoice."></i>
                                </div>*@
                                <div class="d-flex flex-column mb-10 fv-row">

                                    <div class="fs-5 fw-bolder form-label mb-3">
                                        Form name
                                    </div>

                                    <input asp-for="Title" id="txtTitle" class="form-control form-control-solid rounded-3" type="text">
                                    @*<div style="margin-left:929px;margin-top:10px">

                                    </div>*@
                                </div>

                                <div class="table-responsive">

                                    <!--begin::Table-->
                                    <table id="inputTable" data-table="parent" class="inputTable table align-middle table-row-bordered fw-bold fs-6 gy-5">

                                        <thead>
                                            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                                <th class="pt-0">Input type</th>
                                                <th class="pt-0">Display Name</th>
                                                <th class="pt-0">Sequence order</th>
                                                <th class="pt-0">Is required</th>
                                                <th class="pt-0 text-end">Remove</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-item="1">
                                                <td>
                                                    <select name="type" data-control="select2" data-hide-search="true" data-placeholder="Select a types..." class="form-select form-select-solid select2-hidden-accessible" data-select2-id="select2-data-10-1ti8" tabindex="-1" aria-hidden="true">
                                                        <option value="" data-select2-id="select2-data-12-ifr7">Select a type...</option>
                                                        <option value="1" data-select2-id="select2-data-73-c93m">text</option>
                                                        <option value="2" data-select2-id="select2-data-74-l1bx">number</option>
                                                        <option value="3" data-select2-id="select2-data-75-vbt5">password</option>
                                                        <option value="4" data-select2-id="select2-data-76-rtwp">email</option>
                                                        <option value="5" data-select2-id="select2-data-77-rtwp">hidden</option>
                                                        <option value="6" data-select2-id="select2-data-78-rtwp">Dropdown</option>
                                                        <option value="7" data-select2-id="select2-data-79-rtwp">checkbox</option>
                                                        <option value="8" data-select2-id="select2-data-80-rtwp">radio</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" name="DynamicFormInputs[0].Name" class="form-control form-control-solid" value="" />
                                                </td>
                                                <td>
                                                    <input type="text" name="DynamicFormInputs[0].SequenceOrder" class="form-control form-control-solid" value="" />
                                                </td>
                                                <td>
                                                    <label class="form-check form-check-custom form-check-solid">
                                                        <input class="form-check-input" type="checkbox" name="DynamicFormInputs[0].IsRequired" value="" />
                                                    </label>
                                                </td>
                                                <td class="text-end">
                                                    <button type="button" class="btn btn-icon btn-flex btn-active-light-primary w-30px h-30px me-3">

                                                        <span class="svg-icon svg-icon-3">
                                                            <i class="fa fa-trash"></i>
                                                        </span>

                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-light-primary me-auto showAttrModal" data-itemid="1">Add Attribute</button>

                                                </td>
                                                <td>
                                                    <a class="btn btn-light-primary me-auto btnAddInput">
                                                        <span class="svg-icon svg-icon-3">
                                                            <i class="fa fa-plus"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>

                                        </tbody>

                                    </table>

                                </div>


                            </div>
                            <a class="btn btn-success save-form">Save</a>

                        </div>

                    </div>

                </form>
                <!--begin::Modal - New Card-->
                @*id="kt_modal_new_card"*@

                <!--end::Modal - New Card-->
            </div>


        </div>

    </div>
    <div class="customContainer"></div>

</div>

@section InLineScriptSection{
    <script>
        const inputTableId = 'inputTable';


        function CreateDynamicModal(button) {
            let row = button.parent().parent();
            let modalClass = button.attr('data-itemid')
            if (document.getElementsByClassName(modalClass).length == 0) {
                const modalHtml = `	<div class="modal fade ${modalClass} tabindex="-1" data-item="${modalClass}" aria-hidden="true">
                                                                    <!--begin::Modal dialog-->
                                                                    <div class="modal-dialog modal-dialog-centered mw-650px">
                                                                        <!--begin::Modal content-->
                                                                        <div class="modal-content">
                                                                            <!--begin::Modal header-->
                                                                            <div class="modal-header">
                                                                                <!--begin::Modal title-->
                                                                                <h2>Add Attribute</h2>
                                                                                <!--end::Modal title-->
                                                                                <!--begin::Close-->
                                                                                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                                                                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                                                                    <span class="svg-icon svg-icon-1">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                                                                                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                                                                                        </svg>
                                                                                    </span>
                                                                                    <!--end::Svg Icon-->
                                                                                </div>
                                                                                <!--end::Close-->
                                                                            </div>
                                                                            <!--end::Modal header-->
                                                                            <!--begin::Modal body-->
                                                                            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                                                                <!--begin::Form-->
                                                                                <form  class="form" action="#">

                                                                                                            <table data-item="${row.attr('data-item')}_attr" data-table="child" class="table align-middle table-row-dashed fw-bold fs-6 gy-5">

                                                                                                <thead>
                                                                                                    <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                                                                                        <th class="pt-0">Attribute Name</th>
                                                                                                        <th class="pt-0">Attribute Value</th>
                                                                                                        <th class="pt-0">Action</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <input type="text" name="DynamicFormInputs[0].Type" class="form-control form-control-solid" value="" />
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <input type="text" name="DynamicFormInputs[0].Name" class="form-control form-control-solid" value="" />
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <button type="button" class="btn btn-icon btn-flex btn-active-light-primary w-30px h-30px me-3" onclick="AddAttributeRow(this)">

                                                                                                                <span class="svg-icon svg-icon-3">
                                                                                                                    <i class="fa fa-plus"></i>
                                                                                                                </span>

                                                                                                            </button>

                                                                                                        </td>
                                                                                                        <td>
                                                                                                                     <button type="button" class="btn btn-icon btn-flex btn-active-light-primary w-30px h-30px me-3" >

                                                                                                        <span class="svg-icon svg-icon-3">
                                                                                                            <i class="fa fa-trash"></i>
                                                                                                        </span>

                                                                                                    </button>
                                                                                                        </td>

                                                                                                    </tr>



                                                                                                </tbody>

                                                                                            </table>
                                                                                                    <table data-item="${row.attr('data-item')}_ddlTable" data-table="child" style="display:none;" class="ddl-table table align-middle table-row-dashed fw-bold fs-6 gy-5">

                                                                                                                        <thead>
                                                                                                                            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                                                                                                                <th class="pt-0">Dropdown Text</th>
                                                                                                                                        <th class="pt-0">Dropdown Text</th>
                                                                                                                                <th class="pt-0">Action</th>

                                                                                                                            </tr>
                                                                                                                        </thead>
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td>
                                                                                                                                    <input type="text" name="DynamicFormInputs[0].Type" class="form-control form-control-solid" value="" />
                                                                                                                                </td>
                                                                                                                                <td>
                                                                                                                                    <input type="text" name="DynamicFormInputs[0].Name" class="form-control form-control-solid" value="" />
                                                                                                                                </td>
                                                                                                                                <td>
                                                                                                                                    <button type="button" class="btn btn-icon btn-flex btn-active-light-primary w-30px h-30px me-3" onclick="AddAttributeRow(this)">

                                                                                                                                        <span class="svg-icon svg-icon-3">
                                                                                                                                            <i class="fa fa-plus"></i>
                                                                                                                                        </span>

                                                                                                                                    </button>

                                                                                                                                </td>
                                                                                                                                <td>
                                                                                                                                             <button type="button" class="btn btn-icon btn-flex btn-active-light-primary w-30px h-30px me-3" >

                                                                                                                                <span class="svg-icon svg-icon-3">
                                                                                                                                    <i class="fa fa-trash"></i>
                                                                                                                                </span>

                                                                                                                            </button>
                                                                                                                                </td>

                                                                                                                            </tr>


                                                                                                                        </tbody>

                                                                                                                    </table>
                                                                                </form>
                                                                                <!--end::Form-->
                                                                            </div>
                                                                            <!--end::Modal body-->
                                                                        </div>
                                                                        <!--end::Modal content-->
                                                                    </div>
                                                                    <!--end::Modal dialog-->
                                                                </div>`
                $('.customContainer').append(modalHtml);

            }
            //consition applied on dropdown table show when ddl selected value will be dropdown else hide ddlModel table
            let selectText = row.find("td:eq(0)").find('select').find(':selected').text();
            let tableId = row.attr('data-item') + "_ddlTable";
            let ddlTable = $(`.customContainer`).find(`table[data-item='${tableId}'`);
            if (selectText == "Dropdown" && selectText != undefined) $(ddlTable).show();
            else $(ddlTable).hide();
            if (row.find("td:eq(0)").find('select').find(':selected').text() == "Dropdown") {
                $(ddlTable).show();
                $("." + modalClass).modal('show');
            }
            else {
                $(ddlTable).hide();
                $("." + modalClass).modal('show');
            }


        }

        //add attribute row in a modal attribute table
        function AddAttributeRow(button) {
            const tableRow = `<tr>
                                                                                        <td>
                                                                                            <input type="text" name="DynamicFormInputs[0].Type" class="form-control form-control-solid" value="" />
                                                                                                </td>
                                                                                                  <td>
                                                                                                <input type="text" name="DynamicFormInputs[0].Name" class="form-control form-control-solid" value="" />
                                                                                                </td>
                                                                                              <td>
                                                                                                        <button type="button" class="btn btn-icon btn-flex btn-active-light-primary w-30px h-30px me-3" onclick="AddAttributeRow(this)">

                                                                                                                        <span class="svg-icon svg-icon-3">
                                                                                                                            <i class="fa fa-plus"></i>
                                                                                                                        </span>

                                                                                                                    </button>
                                                                                                                </td>
                                                                                                                <td>
                                                                                                                     <button type="button" class="btn-remove btn btn-icon btn-flex btn-active-light-primary w-30px h-30px me-3" >

                                                                                                        <span class="svg-icon svg-icon-3">
                                                                                                            <i class="fa fa-trash"></i>
                                                                                                        </span>

                                                                                                    </button>
                                                                                                        </td>
                                                                                                            </tr>`
            $(button).parent().parent().after(tableRow);
        }

        //generate attribute row in input table
        $(document).on('click', '.btnAddInput', function () {
            const inputHtml = `	<tr data-item="${Guid()}">
                                                                                                <td>
                                                                                                                <select name="cars" class="ddl form-select form-select-solid">
                                                                                                                      <option selected value="select">Select a type...</option>
                                                                                                                      <option value="text">text</option>
                                                                                                                      <option value="number">number</option>
                                                                                                                      <option value="password">password</option>
                                                                                                                      <option value="email">email</option>
                                                                                                                      <option value="hidden">hidden</option>
                                                                                                                      <option value="Dropdown">Dropdown</option>
                                                                                                                      <option value="checkbox">checkbox</option>
                                                                                                                      <option value="radio">radio</option>
                                                                                                               </select>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <input type="text" name="DynamicFormInputs[0].Name" class="form-control form-control-solid" value="" />
                                                                                                </td>
                                                                                                <td>
                                                                                                    <input type="text" name="DynamicFormInputs[0].SequenceOrder" class="form-control form-control-solid" value="" />
                                                                                                </td>
                                                                                                <td>
                                                                                                    <label class="form-check form-check-custom form-check-solid">
                                                                                                        <input class="form-check-input" type="checkbox" name="DynamicFormInputs[0].IsRequired" value="1" />
                                                                                                    </label>
                                                                                                </td>
                                                                                                <td class="text-end">
                                                                                                    <button type="button" class="btn-remove btn btn-icon btn-flex btn-active-light-primary w-30px h-30px me-3 btn-remove" >

                                                                                                        <span class="svg-icon svg-icon-3">
                                                                                                            <i class="fa fa-trash"></i>
                                                                                                        </span>

                                                                                                    </button>
                                                                                                </td>
                                                                                                <td>
                                                                                                            <button type="button" class="btn btn-light-primary me-auto showAttrModal" data-itemid='${Guid()}'>Add Attribute</button>
                                                                                                </td>
                                                                                            </tr>`
            $(this).parent().parent().after(inputHtml);

        });

        $(document).on('click', 'button.showAttrModal', function () {
            CreateDynamicModal($(this));
        });

        //remove row from table
        $(document).on('click', 'button.btn-remove', function () {
            let trigeredRow = $(this).closest('tr');
            let button = $(trigeredRow).find('button.showAttrModal');
            let modalId = button.attr('data-itemid');
            if (!IsInputRow(trigeredRow)) {
                $(this).closest('tr').remove();
            }
            else {
                //remove modal on input row delete
                let modal = $(`[data-item="${modalId}"]`);
                $(this).closest('tr').remove();
                modal.remove();
            }
        });
        //create a dynamic dropdown
        $(document).on('click', 'select.ddl', function () {
            $(this).select2();
        });


        //extract data from a form
        $(document).on('click', 'a.save-form', function () {
            let data = { Title: $('#txtTitle').val(), Inputs: [] };
            let type, name, order, isRequired;
            const tableRows = $(".inputTable[data-table='parent'] tbody tr");

            $.each(tableRows, function (index, rows) {
                let attributeArr = [];
                let dropdownArr = [];
                //read the input table values
                type = $(rows).find('td:eq(0) option:selected').text();
                name = $(rows).find('td:eq(1) input').val();
                order = $(rows).find('td:eq(2) input').val();
                isRequired = $(rows).find('td:eq(3) input[type="checkbox"]').is(':checked') ? true : false;
                let rowId = $(rows).attr('data-item')
                let attrTable = $(`.customContainer`).find(`table[data-item="${rowId}_attr"]`);
                $.each($(attrTable).find('tbody tr'), function (index, attrRow) {
                    attributeArr.push({
                        AttrKey: $(attrRow).find('td:eq(0) input').val(),
                        AttrValue: $(attrRow).find('td:eq(1) input').val()

                    });

                });

                if (type == "Dropdown" && type != undefined) {
                    let dropdownTable = $(`.customContainer`).find(`table[data-item="${rowId}_ddlTable"]`);
                    $.each($(dropdownTable).find('tbody tr'), function (index, ddlRow) {
                        dropdownArr.push({
                            Key: $(ddlRow).find('td:eq(0) input').val(),
                            Value: $(ddlRow).find('td:eq(1) input').val()
                        });
                    });
                }
                let Inputs = {
                    Type: type,
                    Name: name,
                    SequenceOrder: order,
                    IsRequired: isRequired,
                    Attributes: attributeArr,
                    DropdownOpt: dropdownArr,
                    FormName: $('#txtTitle').val()
                };

                data.Inputs.push(Inputs);


            });
            //posting data
            $.ajax({
                url: '/Dynamics/Save',
                type: 'POST',
                data: data,
                success: function (response) {
                    alert(response.Message)
                },
                error: function (err) {
                    alert(err.message);
                }
            });




        });
        //flag for check is selected row is input or attribute table row
        function IsInputRow(row) {
            let hasRowId = $(row).attr('data-item')
            if (hasRowId == undefined) return false;
            else return true;

        }




    </script>












							}