



<div class="table-responsive">

    <!--begin::Table-->
    <table id="fromListTable" data-table="parent" class="inputTable table align-middle table-row-bordered fw-bold fs-6 gy-5">

        <thead>
            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                <th class="pt-0">Form Name</th>
                <th class="pt-0">Number of Inputs</th>
                <th class="pt-0">Sequence order</th>
                <th class="pt-0">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr data-item="1">
              
            </tr>

        </tbody>

    </table>

</div>













