@model DynamicForm

<script>

    const data = '@Html.Raw(Json.Serialize(Model))'
    console.log(JSON.parse(data))
</script>

<div class="d-flex flex-column-fluid">

    <div id="rawDiv" class="container-xxl">
        <div class="d-flex flex-column flex-lg-row">
            <div class="flex-lg-row-fluid me-lg-15 order-2 order-lg-1 mb-10 mb-lg-0">
                <form class="" asp-controller="Rendering" asp-action="Save" id="DynamicForm" autocomplete="off"
                      data-ajax-begin="OnFormBegin" data-ajax-complete="OnFormComplete"
                      data-ajax-failure="OnFormFailure" data-ajax-success="OnFormSuccess"
                      data-ajax="true" data-ajax-method="POST" enctype="multipart/form-data">
                    <div class="card card-flush pt-3 mb-5 mb-lg-10">
                        <div class="card-header">

                            <div class="card-title">
                                <h2 class="fw-bolder"><span id="formTitle"></span> Form</h2>
                            </div>

                        </div>

                        <div class="card-body pt-0">
                            <div class="d-flex flex-column mb-15 fv-row">
                                <input type="text" id="formId" name="formId" hidden />
                                <div class="row" id="myid">

                                </div>
                            </div>
                            <div id="footer_btn">
                                <button type="submit" class="btn btn-success">Save</button>
                                <a class="btn btn-success">Save & Redirect</a>
                                <a class="btn btn-primary " onClick="Reset()">Reset</a>
                            </div>
                        </div>

                    </div>

                </form>

            </div>


        </div>
    </div>


</div>



<div id="meraForm"></div>
@section LinkScriptSection{
    <script>
        let json = JSON.parse(data)
        $("#formTitle").html(json.Title);
        $("#formId").val(json.Id);
        for (let i = 0; i < json.DynamicFormInputs.length; i++) {
            if (json.DynamicFormInputs[i].Type != "Dropdown") {
                $('#myid').append(`  <div class="d-flex flex-column mb-6 fv-row col-4">
                                                                                              <div class="fs-5 fw-bolder form-label mb-3 ">
                                                                                                               ${json.DynamicFormInputs[i].Name}
                                                                                                </div>
                                                                    <input type='${json.DynamicFormInputs[i].Type}' name='d_${json.DynamicFormInputs[i].Id}'/>
                            </div>`)
            }
            else {
                $('#myid').append(`
                                                        <div class="d-flex flex-column mb-6 fv-row col-4" >
                                                                <div class="fs-5 fw-bolder form-label mb-3 ">
                                                                          ${json.DynamicFormInputs[i].Name}
                                                                  </div>
                                                  <select name="d_${json.DynamicFormInputs[i].Id}" data-control="select2"  class="form-select form-select-solid"  tabindex="-1">
                                               </select>
                                             </div>`)
            }

            //<div class="d-flex flex-column mb-6 fv-row col-4" > </div>


            for (let j = 0; j < json.DynamicFormInputs[i].DynamicFormInputAttributes.length; j++) {
                let attr = json.DynamicFormInputs[i].DynamicFormInputAttributes
                $(`[name='d_${json.DynamicFormInputs[i].Id}']`).attr(attr[j].AttrKey, attr[j].AttrValue)
            }

            for (let z = 0; z < json.DynamicFormInputs[i].DynamicFormInputDataSources.length; z++) {
                let option = ` <option value="${json.DynamicFormInputs[i].DynamicFormInputDataSources[z].Key}">
                                                                                        ${json.DynamicFormInputs[i].DynamicFormInputDataSources[z].Value}</option>`
                let ddlId = $(`select[name=d_${json.DynamicFormInputs[i].Id}]`).attr('id')
                $(`#${ddlId}`).append(option);
            }
        }

        function Reset() {
            $('input[type="text"]').val('')
        }

    </script>
}