@model int
@{
	ViewBag.AllowAdding = true;
	ViewBag.AllowEditing = true;
	ViewBag.AllowViewing = true;
	ViewBag.AllowDeleting = true;
}
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
							<div id="kt_content_container" class="container-xxl">
								<!--begin::Card-->
								<div class="card">
									<!--begin::Card header-->
									<div class="card-header border-0 pt-6">
										<!--begin::Card title-->  
										<div class="card-title"> 
										@if (ViewBag.AllowAdding != null) 
										{   
											<a class="btn btn-primary ml-1" id="btnAdd" href="@Url.Action("Add", "Rendering", new {Id = Model})">Add New</a>
										}
										</div> 
										<!--begin::Card title-->
									</div>
									<input type="hidden" id="FormId" value="@Model" />
									<!--end::Card header-->
									<!--begin::Card body-->
									<div class="card-body pt-0">
										<!--begin::Table-->
										<table class="table align-middle table-row-dashed fs-6 gy-5 display">
											<!--begin::Table head-->
											<thead>
												<!--begin::Table row-->
												<tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">													
													<th class="min-w-125px">Id</th>
													@foreach (var name in ViewBag.dynamicColumns)
													{
														<th class="min-w-125px">@name</th>
													}													  
													
													@if (ViewBag.DataTableActionColumn != null)
													{
														<th data-priority="2">Actions</th>
													}
												</tr>
												<!--end::Table row-->
											</thead>
											<!--end::Table head-->
											<!--begin::Table body-->
											<tbody class="fw-bold text-gray-600">
																		 			
											</tbody> 
											<!--end::Table body-->
										</table>
										<!--end::Table-->
									</div>
									<!--end::Card body-->
								</div>
								<!--end::Card-->
								
							</div>
							<!--end::Container-->
						</div>
@section LinkScriptSection{
	@await Html.PartialAsync("DynamicJScript")
}				